/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}





@media only screen and (min-width : 768px) and (max-width : 1024px) {
    html {
        /*background-color: yellow;*/
    }
@media only screen and (min-height : 480px) and (max-height : 768px) {
    html {
        /*background-color: violet;*/
    }
}

}





@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    html {
        /*background-color: green;*/
    }
}

@media only screen and (min-width : 1224px) and (max-width : 1824px) {
    html {
        /*background-color: blue;*/
    }
}
















/*body, html {
        line-height: 9vh;
    }

    .overview .text {
        float: left;
        width: 30%;
        height: 100%;
    }

    .overview .image {
        width: 70%;
        height: 100%;
        float: left;
    }*/








@media screen and (orientation:portrait) {
    body, html {
        line-height: 8vw;
    }

    .overview .text {
        width: 100%;
        height: 30%;
    }



    .overview .image {
        height: 70%;
        width: 100%;
    }

.overview img {
    height: auto;
    width: 100%;
    max-width: 800px;
}

.overview .text h3 {
    margin: 0;
    padding: 5% 5% 0% 5%;
}

.overview .text p {
    margin: 0;
    padding: 2% 5% 5% 5%;
}



}

@media screen and (orientation:landscape) {
    body, html {
        line-height: 9vh;
    }

    .overview .text {
        float: left;
        width: 30%;
        height: 100%;
    }

    .overview .image {
        width: 70%;
        height: 100%;
        float: left;
    }

.overview img {
    height: 100%;
    max-height: 600px;
}
}
